@charset "utf-8";
@use '../foundation/mixins' as *;
// @include mq(pc)
// @include mq(tab)
// @include mq(sp)

/* ============================================
// 数字で見る
// ==========================================*/
.lower-data {
  .data {
    &__inner {
      position: relative;
      padding-top: 120px;
      padding-bottom: 100px;
      @include mq(tab) {
        padding-top: 100px;
        padding-bottom: 80px;
      }
      @include mq(sp) {
        padding-top: 48px;
        padding-bottom: 40px;
      }
    }
    &__date {
      text-align: right;
      margin-top: 16px;
    }

    .sections {
      position: relative;
      z-index: 3;
      &__wrap {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      &__item {
        position: relative;
        z-index: 1;
        counter-increment: data;
        box-shadow: 0px 0px 16px -12px #777777;
        border: 1px solid #e7edf5;
        border-radius: 10px;

        &:not(:nth-child(-n + 2)) {
          @include mq(pc) {
            margin-top: 56px;
          }
        }
        &:not(:first-child) {
          @include mq(sp) {
            margin-top: 40px;
          }
        }
        &.-s {
          width: 31%;
          @include mq(sp) {
            width: 100%;
          }
        }
        &.-h {
          width: 49.1%;
          @include mq(sp) {
            width: 100%;
          }
        }
        &.-m {
          width: 48%;
          @include mq(sp) {
            width: 100%;
          }
        }
        &.-l {
          width: 100%;
        }
        .contents {
          &__other {
            margin-top: 20px;
            background-color: #216cc4;
            border-radius: 5px;
            padding-bottom: 12px;
            transition: background 0.3s;
            @include mq(sp) {
              padding-bottom: 10px;
            }

            @include mq(pc) {
              &:hover {
                background-color: lighten(#216cc4,10%);
              }
            }

            &__title {
              color: #fff;
              display: flex;
              align-items: center;
              padding: 12px 22px;
              padding-bottom: 0;
              cursor: pointer;
              @include mq(sp) {
                padding-top: 10px;
              }

              .title {
                width: 100%;
                font-size: 1.6rem;
                font-weight: bold;
                text-align: center;
              }
              .toggle {
                width: 16px;
                height: 16px;
                position: relative;
                &:before {
                  content: "";
                  display: inline-block;
                  width: 100%;
                  height: 2px;
                  background: #fff;
                  position: absolute;
                  top: 50%;
                  left: 0;
                  right: 0;
                  margin: auto;
                }
                &:after {
                  content: "";
                  display: inline-block;
                  width: 100%;
                  height: 2px;
                  background: #fff;
                  position: absolute;
                  top: 50%;
                  left: 0;
                  right: 0;
                  margin: auto;
                  transform: rotate(90deg);
                  transition: transform 0.5s ease;
                }
              }

              &.js_arrow {
                .toggle {
                  &:after {
                    transform: rotate(360deg);
                  }
                }
              }
            }
            &__list {
              display: none;
              margin: 10px;
              margin-bottom: 0;
              background-color: #fff;
              border-radius: 5px;
              padding: 24px 30px;
              @include mq(sp) {
                padding: 20px;
              }

              .list {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;

                li {
                  font-size: 1.4rem;
                  position: relative;
                  padding-left: 15px;
                  line-height: 1.6;
                  margin: 2px 0;
                  margin-right: 16px;

                  &:last-child {
                    margin-right: 0;
                  }

                  &:before {
                    content: '';
                    display: inline-block;
                    width: 11px;
                    height: 11px;
                    background-color: #1c9dd2;
                    border-radius: 50%;
                    position: absolute;
                    top: 4px;
                    left: 0;
                  }
                }
              }
            }

          }
          &__annotation {
            padding-top: 36px;
            text-align: center;
            @include mq(sp) {
              padding-top: 24px;
            }
            .txt {
              line-height: 1.65;
              letter-spacing: 0.05em;
              font-size: 1.6rem;
              font-weight: bold;
              background-color: #e4f2ff;
              display: inline-block;
              padding: 8px 28px;
              @include mq(sp) {
                font-size: 1.4rem;
              }
            }
          }
        }
        &.-count {
          .contents {
            &__visual {
              display: flex;
              justify-content: center;
              align-items: center;
              padding-top: 72px;
              @include mq(sp) {
                padding-top: 28px;
              }
              .illust {
                margin-right: 12px;

                img {
                  @include mq(sp) {
                    transform: scale(0.8);
                    transform-origin: center;
                  }
                }
              }
              .txtHolder {
                .txt {
                  line-height: 1;
                  font-size: 2rem;
                  font-weight: bold;
                  display: block;
                  @include mq(sp) {
                    font-size: 1.6rem;
                  }
                }
              }
              .numHolder {
                font-size: 2.4rem;
                min-width: 112px;
                font-weight: bold;
                margin-top: 8px;
                @include mq(tab) {
                  min-width: 100px;
                }
                @include mq(sp) {
                  min-width: 88px;
                  font-size: 1.8rem;
                }
                .num {
                  font-size: 7.4rem;
                  margin-right: 2px;
                  @include mq(tab) {
                    font-size: 6rem;
                  }
                  @include mq(sp) {
                    font-size: 5.6rem;
                  }
                }
              }
            }
            &__detail {
              display: flex;
              justify-content: center;
              margin-top: 24px;
              @include mq(sp) {
                margin-top: 28px;
              }
              &__item {
                display: flex;
                align-items: flex-end;
                &:not(:first-child) {
                  margin-left: 20px;
                }
                .icon {
                  flex-shrink: 0;
                  margin-top: 5px;
                  margin-right: 8px;
                  &.-men {
                    width: 38px;
                  }
                  &.-women {
                    width: 45px;
                  }
                }
                .data {
                  &__ttl {
                    line-height: 1;
                    font-weight: 600;
                  }
                  &__body {
                    line-height: 1.2;
                    font-size: 1.6rem;
                    letter-spacing: 0.1em;
                    .num {
                      font-size: 3.9rem;
                      @media screen and (min-width:768px) and (max-width:1024px) {
                        font-size: 3rem;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &.-table {
          .contents {
            &__visual {
              padding-top: 48px;
              @include mq(sp) {
                padding-top: 28px;
              }
              .table {
                width: 100%;
                max-width: 420px;
                border: 1px solid #d5d7d7;
                border-top: none;

                .year-holder {
                  display: flex;
                  align-items: flex-start;
                  justify-content: flex-start;
                  background-color: #216cc4;
                  color: #fff;
                  font-size: 1.6rem;
                  font-weight: bold;
                  text-align: center;
                  border-top: 1px solid #d5d7d7;


                  .year {
                    padding: 6px 0;
                    flex: 0 0 33.3%;
                    border-right: 1px solid #d5d7d7;

                    &:last-child {
                      border-right: none;
                    }
                  }
                }
                .num-holder {
                  display: flex;
                  align-items: flex-start;
                  justify-content: flex-start;
                  text-align: center;

                  .num-box {
                    flex: 0 0 33.3%;
                    border-right: 1px solid #d5d7d7;
                    padding: 12px 0;
                    font-size: 2rem;
                    font-weight: bold;
                    &:last-child {
                      border-right: none;
                    }
                  }

                  .num {
                    font-size: 2.8rem;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
        &.-bar {
          .contents {
            margin-top: 40px;
            @include mq(sp) {
              margin-top: 32px;
            }
            &__visual {
              width: 416px;
              height: 240px;
              margin: 0 auto;
              @include mq(tab) {
                width: 390px;
              }
              @include mq(sp) {
                width: 300px;
                height: 140px;
              }
            }
          }
        }
        &.-line {
          .contents {
            margin-top: 70px;
            padding: 0 40px;
            display: flex;
            flex-direction: column-reverse;
            @include mq(tab) {
              padding: 0 32px;
            }
            @include mq(sp) {
              margin-top: 24px;
              padding: 0;
            }
            &__visual {
              margin-top: 20px;
              @include mq(sp) {
                padding: 0 20px;
              }
              .lineChart {
                display: flex;
                &__item {
                  position: relative;
                  width: 50%;
                  height: 50px;
                  transition: width 800ms ease-out;
                  @include mq(sp) {
                    height: 36px;
                  }
                  &.-bg-color01 {
                    background: #00613a;
                  }
                  &.-bg-color02 {
                    background: #00ae68;
                  }
                }
              }
            }
            &__detail {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0 32px;
              @media screen and (min-width:768px) and (max-width:1024px) {
                padding: 0 20px;
              }
              @include mq(sp) {
                padding: 0 8px;
              }
              .data {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                &__ttl {
                  line-height: 1;
                  font-weight: 600;
                }
                &__body {
                  line-height: 1.2;
                  font-size: 2.4rem;
                  letter-spacing: 0.1em;
                  font-weight: 600;
                  @include mq(sp) {
                    font-size: 2rem;
                  }
                  &__hd {
                    font-size: 1.8rem;
                    @include mq(tab) {
                      font-size: 1.7rem;
                    }
                    @include mq(sp) {
                      font-size: 1.5rem;
                    }
                  }
                  .numHolder {
                    min-width: 96px;
                    margin-top: 4px;
                    @include mq(tab) {
                      min-width: 86px;
                    }
                    @include mq(sp) {
                      min-width: 70px;
                    }
                    .num {
                      font-size: 5.6rem;
                      @include mq(tab) {
                        font-size: 5rem;
                      }
                      @include mq(sp) {
                        font-size: 4.4rem;
                      }
                    }
                  }
                }
              }
              .separate {
                font-size: 5rem;
                column-rule-width: 600;
                line-height: 1;
                display: inline-block;
                color: #003d25;
                margin: 0 20px;
                margin-top: 12px;
                @include mq(sp) {
                  font-size: 3.6rem;
                  margin: 0 14px;
                  margin-top: 12px;
                }
              }
            }
          }
        }
        &.-line2 {
          .contents {
            margin-top: 40px;
            @media screen and (min-width:768px) and (max-width:1024px) {
              padding: 0 32px;
            }
            @include mq(sp) {
              margin-top: 24px;
            }

            &__visual {
              margin-top: 28px;

              .lineChart {
                &__item {
                  &.-bg-color01 {
                    background-color: #1c9dd2;
                  }
                  &.-bg-color02 {
                    background-color: #216cc4;
                  }
                }
              }
            }
            &__detail {
              padding: 0 4px;
              @include mq(sp) {
                padding: 0 40px;
              }

              .data {
                @include mq(sp) {
                  display: block;
                }

                &__txt {
                  font-size: 1.4rem;
                  font-weight: bold;
                  line-height: 1;
                  padding: 8px;
                  white-space: nowrap;
                  color: #fff;
                  margin-top: 10px;
                  @include mq(sp) {
                    text-align: center;
                  }

                  &.bg-lightblue {
                    background-color: #1c9dd2;
                    margin-right: 18px;
                    @include mq(tab) {
                      margin-right: 14px;
                    }
                    @include mq(sp) {
                      margin-right: 0;
                    }
                  }
                  &.bg-blue {
                    background-color: #216cc4;
                    margin-left: 18px;
                    @include mq(tab) {
                      margin-left: 14px;
                    }
                    @include mq(sp) {
                      margin-left: 0;
                    }
                  }
                }
                &__body {
                  @include mq(sp) {
                    margin-top: 8px;
                  }
                  .num {
                    @include mq(sp) {
                      font-size: 3.8rem;
                    }
                  }
                }
              }
            }
          }
        }
        &.-circle {
          .contents {
            margin: 0 auto;
            margin-top: 30px;
            width: 198px;
            height: 198px;
            position: relative;
            @include mq(tab) {
              width: 180px;
              height: 180px;
            }
            @include mq(sp) {
              width: 160px;
              height: 160px;
            }

            &__visual {
              width: 100%;
              height: 100%;
              margin: 0 auto;
              position: relative;
              background-color: #00613a;
              border-radius: 50%;
            }
            &__detail {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
              color: #fff;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              margin-top: -6px;

              .txt {
                font-size: 2rem;
                @include mq(tab) {
                  font-size: 1.8rem;
                }
                @include mq(sp) {
                  font-size: 1.6rem;
                }
              }
              .numHolder {
                font-size: 2rem;
                .num {
                  font-size: 5.2rem;
                  margin-right: 2px;
                  @include mq(tab) {
                    font-size: 4.8rem;
                  }
                  @include mq(sp) {
                    font-size: 4.4rem;
                  }
                }
              }
            }
          }
        }
        &.-circle2 {
          .contents {
            margin: 44px auto 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include mq(sp) {
              flex-direction: column;
              margin-top: 28px;
            }
            &__visual {
              flex-shrink: 0;
              width: 226px;
              height: 226px;
              margin-right: 5%;
              @media screen and (min-width:768px) and (max-width:1024px) {
                width: 200px;
                height: 200px;
              }
              @include mq(sp) {
                width: 160px;
                height: 160px;
                margin-right: 0;
              }
            }
            &__detail {
              width: 100%;
              max-width: 360px;
              display: flex;
              flex-wrap: wrap;
              position: relative;
              @include mq(pc) {
                flex: 0 0 160px;
              }
              @include mq(sp) {
                width: 100%;
                margin-top: 20px;
              }
              &__item {
                display: flex;
                align-items: center;
                margin: 6px 0;
                @include mq(sp) {
                  flex: 0 0 48%;
                  margin: 4px 0;
                  margin-right: 4%;
                  &:nth-child(even) {
                    margin-right: 0;
                  }
                }

                &:nth-child(5n + 1) .icon {
                  background: #0f5c39;
                }
                &:nth-child(5n + 2) .icon {
                  background: #299d62;
                }
                &:nth-child(5n + 3) .icon {
                  background: #3d7937;
                }
                &:nth-child(5n + 4) .icon {
                  background: #5fa933;
                }
                &:nth-child(5n + 5) .icon {
                  background: #90bc3c;
                }
                .icon {
                  flex-shrink: 0;
                  width: 18px;
                  height: 18px;
                  margin-right: 8px;
                  @include mq(sp) {
                    width: 14px;
                    height: 14px;
                    margin-right: 6px;
                  }
                }
                .txtHolder {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                }
                .txt {
                  line-height: 1;
                  font-size: 1.6rem;
                  @include mq(tab) {
                    font-size: 1.5rem;
                  }
                  @include mq(sp) {
                    font-size: 1.4rem;
                  }
                }
                .numHolder {
                  line-height: 1;
                  min-width: 45px;
                  text-align: right;
                  @include mq(sp) {
                    min-width: 40px;
                  }
                }
                .num {
                  font-size: 2.4rem;
                  line-height: 1;
                  @include mq(sp) {
                    font-size: 2rem;
                  }
                }
              }
            }
          }
        }
        &.-doughnut {
          .contents {
            margin-top: 30px;
            &__visual {
              position: relative;
              width: 180px;
              height: 180px;
              margin: 0 auto;
              .doughnutChart {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                &.-bg {
                  position: relative;
                  z-index: 5;
                }
              }
              .doughnutChart-count {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 1;
                font-size: 2.4rem;
                margin-top: 10px;
                letter-spacing: 0.05em;
                font-weight: 600;
                .num {
                  font-size: 5rem;
                  margin-bottom: 10px;
                  @include mq(tab) {
                    font-size: 3.6rem;
                  }
                  @media screen and (min-width:768px) and (max-width:1024px) {
                    font-size: 4.5rem;
                  }
                }
              }
            }
            // &__annotation {
            //   padding-top: 20px;
            //   text-align: center;
            //   .txt {
            //     letter-spacing: 0.05em;
            //     font-size: 1.6rem;
            //     @include mq(sp) {
            //       font-size: 1.4rem;
            //     }
            //   }
            // }
          }
        }
        &.-tag {
          .contents {
            padding: 48px 40px 0;
            @include mq(sp) {
              padding: 28px 0 0;
            }
            &__visual {
              position: relative;
              display: flex;
              flex-wrap: wrap;
              margin: -7px;
              @include mq(sp) {
                margin: -6px;
              }
              &__item {
                margin: 7px;
                padding: 10px 18px;
                border-radius: 2px;
                opacity: 0;
                transition: opacity 300ms ease;
                color: #fff;
                border-radius: 6px;
                @include mq(sp) {
                  width: 100%;
                  margin: 4px;
                  padding: 8px 14px 10px;
                }

                &:nth-child(odd) {
                  background-color: #00613a;
                }
                &:nth-child(even) {
                  background-color: #00ae68;
                }

                &.active {
                  opacity: 1;
                }
                .txt {
                  line-height: 1.6;
                  font-size: 1.5rem;
                  letter-spacing: 0.1em;
                  font-weight: 600;
                  @include mq(sp) {
                    font-weight: 500;
                    font-size: 1.4rem;
                  }
                }
              }
            }
          }
        }
        &.-list {
          .contents {
            margin-top: 40px;
            @include mq(sp) {
              margin-top: 28px;
            }
            &__visual {
              display: flex;
              justify-content: flex-start;
              align-items: stretch;
              flex-wrap: wrap;
              @include mq(sp) {
                display: block;
              }

              &__item {
                flex: 0 0 49%;
                background-color: #e4f2ff;
                margin-right: 2%;
                margin-top: 10px;
                padding: 12px 14px;
                border-radius: 2px;
                display: flex;
                align-items: center;

                @media all and (-ms-high-contrast: none) {
                  flex: 0 0 43%;
                }
                @media screen and (min-width:768px) and (max-width:1024px) {
                  padding: 12px 10px;
                }
                @include mq(sp) {
                  padding: 10px 14px;
                }

                &:nth-child(2n+2) {
                  margin-right: 0;
                }
                &:first-child {
                  margin-top: 0;
                }
                &:nth-child(2) {
                  @include mq(pc) {
                    margin-top: 0;
                  }
                }

                .txt {
                  font-size: 1.4rem;
                  font-weight: bold;
                  @media screen and (min-width:768px) and (max-width:1024px) {
                    font-size: 1.3rem;
                  }
                }
              }
            }
          }
        }
        &:before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          z-index: -1;
          background: #fff;
          border-radius: 10px;
        }
        .count {
          position: absolute;
          top: -16px;
          left: -16px;
          width: 68px;
          height: 68px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: $primary-color;
          color: #fff;
          font-size: 2.4rem;
          font-weight: bold;
          @media screen and (min-width:768px) and (max-width:1024px) {
            width: 60px;
            height: 60px;
            font-size: 2.2rem;
          }
          @include mq(sp) {
            width: 48px;
            height: 48px;
            font-size: 1.8rem;
            top: -12px;
            left: -8px;
          }

          // data
          &::before {
            content: '';
            display: inline-block;
            background-image: url(../img/data/txt-data.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 40px;
            height: 26px;
            position: absolute;
            top: -14px;
            left: -6px;
            @include mq(sp) {
              transform: scale(0.8);
              transform-origin: top left;
              top: -10px;
            }
          }
        }
        &__wrap {
          padding: 32px 40px 40px;
          @include mq(tab) {
            padding: 32px 20px 36px;
          }
          @include mq(sp) {
            padding: 28px 20px 32px;
          }
          .num {
            font-family: 'Lato', sans-serif;
            font-weight: 900;
            line-height: 1;
          }
          .hd {
            text-align: center;
            padding-bottom: 12px;
            position: relative;

            // 破線
            &::before {
              content: '';
              display: inline-block;
              width: 100%;
              height: 2px;
              background-image : linear-gradient(to right, #77988b, #77988b 4px, transparent 4px, transparent 6px);
              background-size: 6px 4px;
              background-position: left bottom;
              background-repeat: repeat-x;
              position: absolute;
              bottom: 0;
              left: 0;
            }

            &__ttl {
              font-size: 2.4rem;
              font-weight: bold;
              line-height: 1.5;
              @media screen and (min-width:768px) and (max-width:1024px) {
                font-size: 2.1rem;
              }
              @include mq(sp) {
                font-size: 1.9rem;
              }

              .thin {
                font-size: 1.5rem;
                font-feature-settings: 'palt';
                @include mq(tab) {
                  font-size: 1.4rem;
                }
                @include mq(sp) {
                  display: block;
                }
              }
            }
          }
        }

        // アイテム固有
        &.sections__item {
          &-01 {
          }
          &-02 {

          }
          &-03 {

          }
          &-04 {
            .sections__item__wrap {
              @include mq(pc) {
                padding-bottom: 60px;
              }
              @include mq(tab) {
                padding-bottom: 50px;
              }
              @include mq(sp) {
                padding-bottom: 32px;
              }
            }
          }
          &-05 {

          }
          &-06 {

          }
          &-07 {
            .contents {
              &__visual {
                .desc {
                  line-height: 1.3;
                  font-size: 3.2rem;
                  font-weight: bold;
                  @include mq(tab) {
                    font-size: 2.6rem;
                  }
                  @include mq(sp) {
                    font-size: 2.2rem;
                  }
                }
              }
            }
          }
          &-08 {
            .sections__item__wrap {
              @include mq(pc) {
                padding-bottom: 56px;
              }
              @include mq(tab) {
                padding-bottom: 48px;
              }
              @include mq(sp) {
                padding-bottom: 32px;
              }
            }
          }
          &-09 {
            .contents {
              &__visual {
                padding-top: 52px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-wrap: wrap;
                margin: -20px;
                @include mq(sp) {
                  margin: 0;
                  padding-top: 32px;
                }

                &__item {
                  display: flex;
                  justify-content: flex-start;
                  align-items: flex-start;
                  padding: 0 32px;
                  border-right: 2px solid #eef2f1;
                  margin: 20px 0;
                  @include mq(pc) {
                    &:nth-child(3),
                    &:nth-child(5) {
                      border: none;
                    }
                  }
                  @include mq(tab) {
                    padding: 0 24px;
                  }
                  @include mq(sp) {
                    margin: 0;
                    padding: 0;
                    border: none;
                    padding: 18px 16px 14px;
                    border-top: 2px solid #eef2f1;
                    &:first-child {
                      margin-top: 0;
                      border: none;
                      padding-top: 0;
                    }
                  }

                  .illust {
                    margin-right: 24px;
                    @include mq(tab) {
                      margin-right: 16px;
                    }
                    @include mq(sp) {
                      margin-right: 12px;
                      width: 120px;
                    }
                    img {
                      @include mq(sp) {
                        transform: scale(0.7);
                      }
                    }
                  }

                  .txtHolder {
                    .txt {
                      font-size: 1.8rem;
                      @include mq(sp) {
                        font-size: 1.5rem;
                      }
                    }
                    .numHolder {
                      font-size: 2.4rem;
                      @include mq(sp) {
                        font-size: 2rem;
                      }
                      .num {
                        font-size: 6.4rem;
                        @include mq(tab) {
                          font-size: 5.6rem;
                        }
                        @include mq(sp) {
                          font-size: 4.4rem;
                        }
                      }
                    }
                  }
                }
              }
            }
            .sections__item__wrap {
              @include mq(pc) {
                padding-bottom: 72px;
              }
              @include mq(tab) {
                padding-bottom: 56px;
              }
              @include mq(sp) {
                padding-bottom: 40px;
              }
            }
          }
        }
      }

      &-holder {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin-top: 30px;
        @include mq(sp) {
          display: block;
        }
      }
      &-box {
        flex: 0 0 48.75%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;

        &:first-child {
          .sections__item {
            @include mq(pc) {
              height: 50%;
            }
          }
        }
        &:nth-child(2) {
          @include mq(sp) {
            margin-top: 30px;
          }
          .sections__item {
            @include mq(pc) {
              height: 100%;
            }
          }
        }
      }
    }
  }
}
